@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');
body{
	background: #edeef0;
	margin:0px;
	font-family:'Alegreya Sans', Arial,sans-serif;
}
header{
background:black;

height:2em;
}
aside{
margin-top: 2em;
width:190px;
height:18em;
}
.content{
margin-top: 40px;
height:300px;
position: absolute;
left:190px;
top:2em;
}
footer{

position: fixed; 
left: 0; 
bottom: 0; 
padding-top: 10px; 
width: 100%; 
text-align: center;  
height: 40px; 
background:#DCDCDC;
text-align: center;

}
/*.titleOfSummary{
    font-size: 30px;
}
.personName{
    color: #999;
    font-size: 12px;
}*/

.menu{
	margin-left: 3em;
}
.newsTag{
	text-align: center;
}
.news{
	text-align: left;
}
a{
   text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
.button {

        text-align:center;
        text-decoration: none;
        font-weight: 700;
        background: #edeef0;
        display:block;
        width:100px;
        background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1));
        border-radius: 0px;
        box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);
}

.button:hover, .button.hover {
        background: #fff;
}
.button:active, .button.active {
        background: #d0d3d6;
        background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0));
        box-shadow: inset 0 0 2px rgba(0,0,0,.2), inset 0 2px 5px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.2);
}